<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bopu.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.bopu.pojo.Article">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="author" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="flag" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="limitData" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="look" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.bopu.pojo.Article">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="author" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="flag" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="limitData" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="look" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, title, time, count, author, type, flag, limitData, look
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.bopu.pojo.ArticleExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bopu.pojo.ArticleExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from article
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.bopu.pojo.ArticleExample">
        delete from article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.bopu.pojo.Article">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into article (id, title, time,
        count, author, type,
        flag, limitData, look,
        content)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},
        #{count,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{flag,jdbcType=INTEGER}, #{limitdata,jdbcType=TIMESTAMP}, #{look,jdbcType=VARCHAR},
        #{content,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bopu.pojo.Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="limitdata != null">
                limitData,
            </if>
            <if test="look != null">
                look,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="limitdata != null">
                #{limitdata,jdbcType=TIMESTAMP},
            </if>
            <if test="look != null">
                #{look,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.bopu.pojo.ArticleExample" resultType="java.lang.Integer">
        select count(*) from article
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update article
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.time != null">
                time = #{record.time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.count != null">
                count = #{record.count,jdbcType=INTEGER},
            </if>
            <if test="record.author != null">
                author = #{record.author,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.flag != null">
                flag = #{record.flag,jdbcType=INTEGER},
            </if>
            <if test="record.limitdata != null">
                limitData = #{record.limitdata,jdbcType=TIMESTAMP},
            </if>
            <if test="record.look != null">
                look = #{record.look,jdbcType=VARCHAR},
            </if>
            <if test="record.content != null">
                content = #{record.content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update article
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        time = #{record.time,jdbcType=TIMESTAMP},
        count = #{record.count,jdbcType=INTEGER},
        author = #{record.author,jdbcType=VARCHAR},
        type = #{record.type,jdbcType=INTEGER},
        flag = #{record.flag,jdbcType=INTEGER},
        limitData = #{record.limitdata,jdbcType=TIMESTAMP},
        look = #{record.look,jdbcType=VARCHAR},
        content = #{record.content,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update article
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        time = #{record.time,jdbcType=TIMESTAMP},
        count = #{record.count,jdbcType=INTEGER},
        author = #{record.author,jdbcType=VARCHAR},
        type = #{record.type,jdbcType=INTEGER},
        flag = #{record.flag,jdbcType=INTEGER},
        limitData = #{record.limitdata,jdbcType=TIMESTAMP},
        look = #{record.look,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.bopu.pojo.Article">
        update article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="limitdata != null">
                limitData = #{limitdata,jdbcType=TIMESTAMP},
            </if>
            <if test="look != null">
                look = #{look,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bopu.pojo.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      limitData = #{limitdata,jdbcType=TIMESTAMP},
      look = #{look,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.bopu.pojo.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      limitData = #{limitdata,jdbcType=TIMESTAMP},
      look = #{look,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 手动添加 -->
    <insert id="testInsert" parameterType="com.bopu.pojo.Article">
        insert into article (title,
      content)
    values (#{title,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR})
    </insert>

    <select id="testSelectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.bopu.pojo.Article">
        select title,content
        from article
        where id =  #{id,jdbcType=INTEGER}
    </select>
    <!-- 文章查看次数加一 -->
    <update id="updateArticleCount" parameterType="java.lang.Integer">
        update article
        set count = count+1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 分页查询所有文章 -->
    <select id="findAllArticlePage" parameterType="com.bopu.utils.PageBean" resultType="com.bopu.pojo.Article">
        select *
        from article
        <where>
            <if test="type != null">
                type = ${type }
            </if>
        </where>
        order by id
        desc
        limit ${(currentPage-1) * pageSize},${pageSize};
    </select>

    <select id="countByCondition" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from article
        <where>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>