<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bopu.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bopu.pojo.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="professional" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="duties" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="station" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="active" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, password, name, phone, address, work, professional, duties, station, 
    Email, active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bopu.pojo.User" >
    insert into user (id, account, password, 
      name, phone, address, 
      work, professional, duties, 
      station, Email, active
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{work,jdbcType=VARCHAR}, #{professional,jdbcType=VARCHAR}, #{duties,jdbcType=VARCHAR}, 
      #{station,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{active,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bopu.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="work != null" >
        work,
      </if>
      <if test="professional != null" >
        professional,
      </if>
      <if test="duties != null" >
        duties,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="active != null" >
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="professional != null" >
        #{professional,jdbcType=VARCHAR},
      </if>
      <if test="duties != null" >
        #{duties,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bopu.pojo.User" >
    update user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="professional != null" >
        professional = #{professional,jdbcType=VARCHAR},
      </if>
      <if test="duties != null" >
        duties = #{duties,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bopu.pojo.User" >
    update user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      work = #{work,jdbcType=VARCHAR},
      professional = #{professional,jdbcType=VARCHAR},
      duties = #{duties,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      active = #{active,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>